layout {
    gaps 12

    background-color "transparent"

    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 1.0

    }

    default-column-width { proportion 1.0; }

    focus-ring {
        // off
        width 2.0
        active-color   "#b4befe"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"

    }

  border {
    // on
    width  3.0
    active-color  "#ffffff55"
    inactive-color "#ffffff22"
}

    shadow {
        off
        softness 30

        spread 5

        offset x=0 y=5

        color "#0007"
    }

    struts {
    }
}